.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1rem;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, #00c7b7 0%, #c48ccd 50.31%, #ff6f73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  margin-bottom: 3rem;
}
